@model CarFinderUI.Models.CarDTO
@using CarFinderUI.Library.Models
@{
    CarModel car = new();
    List<SelectListItem> items = new();
    items.Add(new SelectListItem { Text = "10", Value = "10" });
}

<div class="text-center">
    <h1 class="display-4">Auto-overzicht</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => car.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => car.Make)
                </th>
                <th>
                    @Html.DisplayNameFor(model => car.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => car.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => car.HP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => car.Price)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cars)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Make)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p />

    <table>
        @*@Html.DropDownListFor(m => m.Cars, items, null, null)*@
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <td class="alert alert-primary">
                @if (i == Model.CurrentPageIndex)
                {
                    <span class="col-form-label">@i</span>
                }
                else
                {
                    @Html.ActionLink(i.ToString(), "Index", "Car", new { page = @i }, new { @class = "col-form-label" });
                }
            </td>
        }
    </table>

</div>
